body {
	height: 100vh;
	width: 100vw;
	margin:0;
}

/* When writing CSS classes it is VERY important that you use hyphen delimited strings (square-div and NOT squareDiv) */
/* Additionally, you should know what the class does just by looking at the name (the name should be DESCRIPTIVE) */
/* When thinking about sizing elements on your page, there are many different units you can use = https://www.w3schools.com/cssref/css_units.asp */
.gold {
	background-color: #C5B358;
}

.row {
	height: 30%;
	width: 100%;
	background-color:#A5BCF0;
}
.pic-holder {
	display:flex;
	height: 40%;
	width: 100%;
}
.pic{
	width:calc(100%/3);
	height:100%;
}
.purple {
	background-color:#935890;
}
.blue{
	background-color:#75A5B1;
}
.yellow{
	background-color:#F6DB96;
}
/* When possible, organize CSS classes in alphabetical order */

.opaque {
	opacity: 0.5;
}

.center-content {
	display:flex;
	align-items: center;
	justify-content: center;
}
.restrict-img-size {
	max-height: 100%;
	max-width: 100%;
}

.sunflower{
	content:url("image/sunflower.png");
}

.skull{
	content:url("image/skull.png");
}

.galaxy{
	content:url("image/galaxy.png");
}
